html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  cursor: pointer;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  color: #7d6584;
  cursor: pointer;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
nav .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}
nav .navbar .main-head a {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}
nav .navbar .links {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
nav .navbar .links #about-btn #dropdowned {
  position: absolute;
  z-index: 1;
  padding: 15px 20px;
}
nav .navbar .links #about-btn i {
  transition: 0.3s;
}
nav .navbar .links #about-btn:hover #dropdowned {
  display: block;
}
nav .navbar .links #about-btn:hover i {
  transform: rotate(180deg);
}
nav .navbar .links #dropdowned {
  display: none;
  background-color: #fff;
  padding: 10px 15px;
}
nav .navbar .links a {
  color: #000;
  font-size: 18px;
}
nav .navbar .links a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #f6f7f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
footer .row1 {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
footer .row1 h4 {
  font-size: 24px;
  font-weight: 600;
}
footer .row1 .links {
  display: flex;
  flex-direction: row;
  text-decoration: underline;
  gap: 30px;
}
footer .row1 .links a {
  color: #000;
}
footer .icons {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}
footer .icons i {
  font-size: 24px;
}

main .wellcome {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Rectangle-YZ9P6kWjMnUBNL6W.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 50px;
  text-align: center;
}
main .wellcome h2 {
  font-size: 100px;
}
main .wellcome #shop-now {
  padding: 18px 45px;
  border: none;
  font-size: 16px;
}
main .wellcome #shop-now:hover {
  background-color: #ddd;
}
main .bestsellers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 50px;
  color: #4d2c57;
  min-height: 100vh;
}
main .bestsellers .items {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
main .bestsellers .items .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .bestsellers .items .item span {
  font-size: 24px;
}
main .bestsellers .items .item p {
  font-size: 18px;
}
main .bestsellers .items .item .img {
  width: 304px;
  height: 288px;
  background-repeat: no-repeat;
  background-position: center;
}
main .bestsellers .items .item #img1 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=288,h=304,fit=crop/minattnvs/Rectangle-AQE0LkVlnZuql51v.png);
}
main .bestsellers .items .item #img2 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=288,h=304,fit=crop/minattnvs/Rectangle-A3QnLXpRVnfXy4bK.png);
}
main .bestsellers .items .item #img3 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=288,h=304,fit=crop/minattnvs/Rectangle-YKb0ekr18NtRgKPB.png);
}
main .bestsellers .items .item #img4 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=288,h=304,fit=crop/minattnvs/Rectangle-mv03n67VzMHgx3z7.png);
}
main .bestsellers h3 {
  font-size: 48px;
  margin-top: 50px;
}
main .bestsellers button {
  font-size: 16px;
  padding: 18px 45px;
  background-color: #fff;
  margin-bottom: 100px;
  transition: 0.3s;
  border-color: #4d2c57;
}
main .bestsellers button:hover {
  background-color: #4d2c57;
  color: #fff;
}
@media screen and (max-width: 1280px) {
  main .bestsellers .items {
    flex-direction: column;
  }
  main .bestsellers .items .item .img {
    height: 403px;
    width: 382px;
  }
  main .bestsellers .items .item #img1 {
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=382,h=403,fit=crop/minattnvs/Rectangle-AQE0LkVlnZuql51v.png);
  }
  main .bestsellers .items .item #img2 {
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=382,h=403,fit=crop/minattnvs/Rectangle-A3QnLXpRVnfXy4bK.png);
  }
  main .bestsellers .items .item #img3 {
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=382,h=403,fit=crop/minattnvs/Rectangle-YKb0ekr18NtRgKPB.png);
  }
  main .bestsellers .items .item #img4 {
    background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=382,h=403,fit=crop/minattnvs/Rectangle-mv03n67VzMHgx3z7.png);
  }
}
main .home-decor-items {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Untitled-AzGRJwMK6BHxZypJ.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 30px;
  text-align: center;
}
main .home-decor-items h2 {
  font-size: 100px;
}
main .home-decor-items #shop-now {
  padding: 18px 45px;
  border: none;
  font-size: 16px;
}
main .home-decor-items #shop-now:hover {
  background-color: #ddd;
}
main .follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main .follow-us h2 {
  margin-top: 50px;
  font-size: 54px;
}
main .follow-us a, main .follow-us h2 {
  color: #4d2c57;
}
main .follow-us a {
  font-size: 24px;
  margin-bottom: 50px;
}
main .follow-us .images {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
main .follow-us .images .img {
  width: 392px;
  height: 368px;
}
main .follow-us .images #img1 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=392,h=368,fit=crop/minattnvs/mm-YBgqvl9QloTBK3BL.png);
}
main .follow-us .images #img2 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=392,h=368,fit=crop/minattnvs/gg-mk37Q8gargCeBpom.png);
}
main .follow-us .images #img3 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=392,h=368,fit=crop/minattnvs/pp-Y4LyMOXgyWUGR3qZ.png);
}
@media screen and (max-width: 1280px) {
  main .follow-us .images {
    flex-direction: column;
  }
}
main .info-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .info-items .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}
main .info-items .row .item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  color: #4d2c57;
}
main .info-items .row .item .img {
  width: 600px;
  height: 388px;
}
main .info-items .row .item h4 {
  font-size: 32px;
  font-weight: 500;
}
main .info-items .row .item span {
  font-size: 18px;
}
main .info-items .row .item button {
  font-size: 16px;
  padding: 15px 45px;
  background-color: #fff;
  margin-bottom: 100px;
  transition: 0.3s;
  border-color: #4d2c57;
}
main .info-items .row .item button:hover {
  background-color: #4d2c57;
  color: #fff;
}
main .info-items .row .item #img1 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=600,h=368,fit=crop/minattnvs/Rectangle-AVLnvkgy1guy1MK4.png);
}
main .info-items .row .item #img2 {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=600,h=368,fit=crop/minattnvs/Rectangle-dJo73kDbN1i6M7yx.png);
}
@media screen and (max-width: 1280px) {
  main .info-items .row {
    flex-direction: column;
  }
}
main .signup-newsletter {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Frame-AGBpDkZaG5cRpbaw.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 50px;
  text-align: center;
}
main .signup-newsletter h2 {
  font-size: 100px;
}
main .signup-newsletter input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 15px 100px;
}
main .signup-newsletter #shop-now {
  padding: 18px 45px;
  border: none;
  font-size: 16px;
}
main .signup-newsletter #shop-now:hover {
  background-color: #ddd;
}

main .shop-wellcome #img {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/dd-d95eByKQX2CoQJ4L.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 404px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .shop-wellcome #img h1 {
  font-size: 84px;
  color: #fff;
}
main .items-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 75px 0px;
}
main .items-content .items-content-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  width: 1280px;
}
main .items-content .items-content-inner .shopping-categories {
  display: flex;
  flex-direction: row;
  gap: 50px;
  color: #878786;
}
main .items-content .items-content-inner .shopping-categories div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
main .items-content .items-content-inner .shopping-options {
  color: #878786;
  display: flex;
  gap: 10px;
  align-self: flex-end;
}
main .items-content .items-content-inner .items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
main .items-content .items-content-inner .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
main .items-content .items-content-inner .items .item .item-content {
  text-align: center;
  line-height: 30px;
  color: #2c2c2c;
}
main .items-content .items-content-inner .items .item .item-content p {
  font-size: 18px;
}
main .items-content .items-content-inner .items .item .item-content span {
  font-size: 24px;
  font-weight: 700;
}
main .items-content .items-content-inner .items .item .img-frame {
  width: 386.5px;
  height: 386.5px;
  overflow: hidden;
}
main .items-content .items-content-inner .items .item .img-frame .img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 386.5px;
  height: 386.5px;
  transition: 0.5s;
}
main .items-content .items-content-inner .items .item .img-frame .img:hover {
  transform: scale(1.25);
}
main .items-content .items-content-inner .items .item .img-frame #img1 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339697137.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img2 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339705789.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img3 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2346701967.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img4 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339705906.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img5 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339706637.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img6 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339708815.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img7 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339706865.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img8 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339709348.jpg);
}
main .items-content .items-content-inner .items .item .img-frame #img9 {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/62087280/2339664460.jpg);
}

main .about-wellcome #img {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Frame-YanWlX24wOIg2vwL.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 404px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .about-wellcome #img h1 {
  font-size: 84px;
  color: #fff;
}
main .about-info-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .about-info-content .content {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
}
main .about-info-content .content p {
  color: #4d2c57;
  font-size: 24px;
  font-weight: 500;
}
main .about-alex-laura {
  width: 100%;
  background-color: #f6f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-alex-laura .about-alex-laura-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  gap: 50px;
}
main .about-alex-laura .about-alex-laura-inner .img {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=1008,fit=crop/minattnvs/pexels-cottonbro-YKb0eZ64DRiPyZoD.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 900px;
  height: 1000px;
}
main .about-alex-laura .about-alex-laura-inner .text-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  line-height: 30px;
  color: #4d2c57;
}
main .about-alex-laura .about-alex-laura-inner .text-content h2 {
  font-size: 54px;
  font-weight: 500;
}
main .about-alex-laura .about-alex-laura-inner .text-content p {
  font-size: 18px;
}
main .about-sustainability {
  width: 100%;
  background-color: #fd925c;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-sustainability .about-sustainability-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  gap: 50px;
}
main .about-sustainability .about-sustainability-inner .img {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=467,fit=crop/minattnvs/Rectangle-YrDPEe422ktklvXj.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 900px;
  height: 600px;
}
main .about-sustainability .about-sustainability-inner .text-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  line-height: 30px;
  color: #fff;
}
main .about-sustainability .about-sustainability-inner .text-content h2 {
  font-size: 54px;
  font-weight: 500;
}
main .about-sustainability .about-sustainability-inner .text-content p {
  font-size: 18px;
}
main .about-sustainability .about-sustainability-inner .text-content button {
  padding: 20px 60px;
  border: none;
  background-color: #fff;
  color: #4d2c57;
  font-size: 16px;
}
main .about-sustainability .about-sustainability-inner .text-content button:hover {
  background-color: #ddd;
}

main .sustainability-wellcome #img {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Frame-m6LKEnXEpDfX8lgk.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 404px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .sustainability-wellcome #img h1 {
  font-size: 84px;
  color: #fff;
}
main .sustainability-info-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .sustainability-info-content .content {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0px;
}
main .sustainability-info-content .content p {
  color: #4d2c57;
  font-size: 24px;
  font-weight: 500;
}
main .sustainability-working-ethos {
  width: 100%;
  background-color: #f6f7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sustainability-working-ethos .sustainability-working-ethos-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  gap: 50px;
}
main .sustainability-working-ethos .sustainability-working-ethos-inner .img {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=816,fit=crop/minattnvs/ll-A1aynE83WJc9WylX.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 900px;
  height: 1000px;
}
main .sustainability-working-ethos .sustainability-working-ethos-inner .text-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  line-height: 30px;
  color: #4d2c57;
}
main .sustainability-working-ethos .sustainability-working-ethos-inner .text-content h2 {
  font-size: 54px;
  font-weight: 500;
}
main .sustainability-working-ethos .sustainability-working-ethos-inner .text-content p {
  font-size: 18px;
}
main .sustainability-materials {
  width: 100%;
  background-color: #fd925c;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sustainability-materials .sustainability-materials-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  gap: 50px;
}
main .sustainability-materials .sustainability-materials-inner .img {
  background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=549,fit=crop/minattnvs/pp-AoP0LMM1VPTawJL6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 900px;
  height: 600px;
}
main .sustainability-materials .sustainability-materials-inner .text-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  line-height: 30px;
  color: #fff;
}
main .sustainability-materials .sustainability-materials-inner .text-content h2 {
  font-size: 54px;
  font-weight: 500;
}
main .sustainability-materials .sustainability-materials-inner .text-content p {
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */