main {
    .sustainability-wellcome {
        #img {
            background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/minattnvs/Frame-m6LKEnXEpDfX8lgk.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 404px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                font-size: 84px;
                color: #fff;
            }
        }
    }

    .sustainability-info-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            width: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 100px 0px;

            p {
                color: #4d2c57;
                font-size: 24px;
                font-weight: 500;
            }
        }
    }

    .sustainability-working-ethos {
        width: 100%;
        background-color: #f6f7f6;
        display: flex;
        justify-content: center;
        align-items: center;

        .sustainability-working-ethos-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1280px;
            gap: 50px;
            .img{
                background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=816,fit=crop/minattnvs/ll-A1aynE83WJc9WylX.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 900px;
                height: 1000px;
            }
            .text-content{
                width: 1000px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 50px;
                line-height: 30px;
                color: #4d2c57;
                h2{
                    font-size: 54px;
                    font-weight: 500;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }

    .sustainability-materials {
        width: 100%;
        background-color: #fd925c;
        display: flex;
        justify-content: center;
        align-items: center;

        .sustainability-materials-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1280px;
            gap: 50px;
            .img{
                background-image: url(https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=606,h=549,fit=crop/minattnvs/pp-AoP0LMM1VPTawJL6.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 900px;
                height: 600px;
            }
            .text-content{
                width: 1000px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 50px;
                line-height: 30px;
                color: #fff;
                h2{
                    font-size: 54px;
                    font-weight: 500;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
}